<html ng-app='myApp'>
    <head>
      <title>Angular Products with Factory</title>
      <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>

      <script type='text/javascript'>

      // Create a module
        var myAppModule = angular.module('myApp', []);
        // Create a factory (attached to this module)
        myAppModule.factory('productFactory', function (){

          // The factory is nothing more than a function that returns an object
          var products = [
                    { name: 'mouse',
                     price:  59.99
                    },
                    { name: 'keyboard',
                     price:  149.99
                    },
                    { name: 'ball',
                    price:   59.99
                    }
                 ];
          var factory = {};
          // Add a getStudents key to the factory object with a value of a function.
          factory.getProducts = function (callback){
              // Pass the students to a callback to be used by whoever calls the method
              callback(products);
          }
          // Most important step: return the object so it can be used by the rest of our angular code
          return factory;
        });
        // Create a controller (attached to this module), and inject the studentFactory in it.
        myAppModule.controller('productsController', function ($scope, productFactory){
          console.log($scope);
          //  initialize an empty array so $scope.students maintains a consistent data type
          $scope.products = [];
          // run the getStudents method and set $scope data in the callback
          productFactory.getProducts(function (data){
              $scope.products = data;
          });
          $scope.addProduct = function() {
            $scope.products.push($scope.newProduct);
            $scope.newProduct = {};
          }
          $scope.deleteProduct = function(product) {
            console.log("product to delete is: ", product);
            $scope.products.splice($scope.products.indexOf(product), 1);
          }
          $scope.orderByPrice = function(product) {
            //console.log(typeof(product.price));
            return parseInt(product.price);
          }
        });
      </script>
    </head>
    <body>
      <div ng-controller="productsController">
        <h1>Products Controller</h1>
          <form>
            Name: <input type='text' ng-model='newProduct.name' placeholder="name">
            Price: <input type='text' ng-model='newProduct.price' placeholder="price">
            <input type='submit' value="Add Product" ng-click='addProduct()'>
          </form>
          <table border=1>
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products track by $index | orderBy : '-price'">
                <td ng-bind="product.name"></td>
                <td ng-bind="'$' + (product.price)"></td>
                <!-- <td>{{'$' + product.price}}</td> -->
                <td><button ng-click='deleteProduct(product)'>Delete Product</button></td>
              </tr>
            <tbody>
          </table>
      </div>
    </body>
</html>
