<html ng-app='myApp'>
    <head>
      <title>Angular Products and Quatities</title>
      <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>

      <script type='text/javascript'>

      // Create a module
        var myAppModule = angular.module('myApp', []);
        // Create a factory (attached to this module)
        myAppModule.factory('productFactory', function (){

          // The factory is nothing more than a function that returns an object
          var products = [
                    { name: 'keyboard',
                     price: 149.99,
                     quantity: 50
                    },
                    { name: 'mouse',
                     price: 59.99,
                     quantity: 50
                    },
                    { name: 'ball',
                    price:  59.99,
                    quantity: 50
                    }
                 ];
          var factory = {};
          // Add a getStudents key to the factory object with a value of a function.
          factory.getProducts = function (callback){
              // Pass the students to a callback to be used by whoever calls the method
              callback(products);
          }
          // Most important step: return the object so it can be used by the rest of our angular code
          return factory;
        });
        // Create a controller (attached to this module), and inject the studentFactory in it.
        myAppModule.controller('productsController', function ($scope, productFactory){
          console.log($scope);
          //  initialize an empty array so $scope.products maintains a consistent data type
          $scope.products = [];
          // run the getProducts method and set $scope data in the callback
          productFactory.getProducts(function (data){
              $scope.products = data;
          });
          $scope.addProduct = function() {
            console.log('new added product', $scope.newProduct);
            console.log($scope.products);
            $scope.newProduct.quantity = 50;
            $scope.products.push($scope.newProduct);
            $scope.newProduct = {};
          }
          $scope.deleteProduct = function(product) {
            console.log("product to delete is: ", product);
            $scope.products.splice($scope.products.indexOf(product), 1);
          }
        });

        myAppModule.controller('ordersController', function ($scope, productFactory){
          console.log("scope in orders controller", $scope);

          //$scope.products = [];
          productFactory.getProducts(function (data){
              $scope.products = data;
          });

          //console.log("products in orders controller", $scope.products);
          $scope.buyProduct = function(product) {
            index = $scope.products.indexOf(product);
            //console.log("product to buy", $scope.products[index].quantity);
            if($scope.products[index].quantity > 0) {
                $scope.products[index].quantity -= 1;
              }
            return $scope.products[index].quantity;
          }

        });

      </script>
    </head>
    <body>
      <div ng-controller="productsController">
        <h1>Products Controller</h1>
          <form>
            Name: <input type='text' ng-model='newProduct.name' placeholder="name">
            Price: <input type='text' ng-model='newProduct.price' placeholder="price">
            <input type='submit' value="Add Product" ng-click='addProduct()'>
          </form>
          <table border=1>
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products | orderBy : '-price' ">
                <td ng-bind="product.name"></td>
                <td ng-bind="'$' + (product.price)"></td>
                <!-- <td>{{'$' + product.price}}</td> -->
                <td><button ng-click='deleteProduct(product)'>Delete Product</button></td>
              </tr>
            <tbody>
          </table>
      </div>
      <div ng-controller="ordersController">
        <hr>
        <h1>Orders Controller</h1>
          <table border=1>
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quatity available</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products | orderBy : '-price' ">
                <td ng-bind="product.name"></td>
                <td ng-bind="'$' + (product.price)"></td>
                <td ng-bind="product.quantity"></td>
                <td><button ng-click='buyProduct(product)'>Buy</button></td>
              </tr>
            <tbody>
          </table>
      </div>
    </body>
</html>
